<!DOCTYPE html>
<html>
  <head>
    <title>Slant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://kit-pro.fontawesome.com/releases/latest/css/pro-v4-shims.min.css" media="all" rel="stylesheet">
    <link href="https://kit-pro.fontawesome.com/releases/latest/css/pro-v4-font-face.min.css" media="all" rel="stylesheet">
    <link href="https://kit-pro.fontawesome.com/releases/latest/css/pro.min.css" media="all" rel="stylesheet">
  </head>


  <body>
    <script type="text/javascript">
      window.slantWhiteURL = "<%= image_url('Slant-white.png') %>";
      window.slantDarkURL = "<%= image_url('Slant-dark.png') %>";
      window.slantLogoURL = "<%= image_url('Slant-Logo.png') %>";
      window.slantLogoGreenURL = "<%= image_url('Slant-Logo-Green.png') %>";
      window.kingGooseURL = "<%= image_url('goose1.jpg')%>";
      window.queenGooseURL = "<%= image_url('goose2.jpg')%>";
      window.defaultGoose1URL = "<%= image_url('default_goose1.png')%>";
      window.defaultGoose2URL = "<%= image_url('default_goose2.png')%>";
      window.defaultGoose3URL = "<%= image_url('default_goose3.png')%>";
      window.defaultGoose4URL = "<%= image_url('default_goose4.png')%>";
      window.defaultGoose5URL = "<%= image_url('default_goose5.png')%>";
      window.defaultGoose6URL = "<%= image_url('default_goose6.png')%>";
      
      window.slantHome1URL = "<%= image_url('Slant-Home1.png')%>";
    </script>
    <%= yield %>
  </body>
</html>
